<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "com.synergetic.Fitness-Extended-Free"
		version   = "2.2.2">
		<name>Fitness Calculator Extended -Free-</name>
    <description>
Fitness Calculator has the following outputs to help you evaluate your fitness:BMI, WHtR, BMR, RMR, Healthy Body Weight Range, Daily Caloric Intake, Personal Target Heart Rate and Body Fat Percentage. 

The information displayed on this App is intended to be used as a reference ONLY. Please consult you health specialist before undertaking any weight control plan
    </description>
		<author href="http://www.synergetic-col.com" email="apps@synergetic-col.com">Synergetic S.A.S</author>

		<preference name='phonegap-version' value='cli-6.5.0' />
		<preference name="orientation" value="portrait" />
		<preference name="fullscreen" value="false" />
		<preference name="target-device" value="universal" />
		<preference name="webviewbounce" value="true" />
		<preference name="prerendered-icon" value="true" />
		<preference name="stay-in-webview" value="true" />
		<preference name="ios-statusbarstyle" value="default" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="false" />
		<preference name="show-splash-screen-spinner" value="false" />
		<preference name="auto-hide-splash-screen" value="false" />
		<preference name="EnableViewportScale" value="true" />
		<preference name="MediaPlaybackRequiresUserAction" value="true" />
		<preference name="AllowInlineMediaPlayback" value="true" />
		<preference name="BackupWebStorage" value="cloud" />
		<preference name="TopActivityIndicator" value="gray" />
		<preference name="KeyboardDisplayRequiresUserAction" value="true" />
		<preference name="HideKeyboardFormAccessoryBar" value="true" />
		<preference name="SuppressesIncrementalRendering" value="false" />
		<preference name="android-minSdkVersion" value="7" />
		<preference name="android-installLocation" value="internalOnly" />
		<preference name="SplashScreen" value="splash" />
		<preference name="SplashScreenDelay" value="4000" />
		<preference name="SplashMaintainAspectRatio" value="true" />
		<preference name="ErrorUrl" value=""/>
		<preference name="BackgroundColor" value="0x000000"/>
		<preference name="KeepRunning" value="true"/>
		<preference name="DisallowOverscroll" value="true"/>
		<preference name="LoadingDialog" value=","/> 
		<preference name="LoadUrlTimeoutValue" value="20000" />
		<preference name="disable-cursor" value="true" />
		<gap:platform name="ios" />
		<gap:platform name="android" />
		<gap:platform name="winphone" />
		<feature name="http://api.phonegap.com/1.0/device"/>
		<icon src="icon.png" />
		<gap:splash src="splash.png" />
	</widget>
